/postgres-data/
/HELP.md

.idea/*
.gradle/*
.gradle/buildOutputCleanup/

buildSrc/build/*
buildSrc/.gradle/*

model/build/*
service/build/*
repo/build/*
web/build/*


model/bin/*
service/bin/*
repo/bin/*
web/bin/*
.vscode/settings.json
.vscode/launch.json
.DS_Store
